// App Style Settings

// Colors
$dark: #070912;
$main: #364188;
$grey: #e1e1e1;

// Type
$bodyFont: 'Roboto', sans-serif;
$headingFont: 'Alatsi', sans-serif;

// Layout
$section-padding: em(16) em(20);