// Type

body {
    font-family: $bodyFont;
    color: $grey;
}

nav {
    font-family: $headingFont;
    font-size: 1.5rem;
}

section {
    margin: 1rem 0;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

h1, h2, h3, h4 {
    font-family: $headingFont;
}

h1, h2, h3, h4, p {
    //margin-top: 0;
}

p {
    line-height: 1.4;
    margin: .5rem 0;
}

a{
    color: $grey;
    text-decoration: none;
}

.home-heading {
    font-size: 0rem;
}

.more-info-overview {
    text-align: left;
}

.movie-details-on-poster {
    font-size: 1rem;
}