header {
  background-color: $main;
}

.main-nav {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 0;
  }

  .home-logo {
    width: 100px;
  }

  nav {
    padding: 1rem;
}